<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testpage.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @testpage.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @testpage.end_date %>
</p>

<p>
  <strong>Hours worked:</strong>
  <%= @testpage.hours_worked %>
</p>

<%= link_to 'Edit', edit_testpage_path(@testpage) %> |
<%= link_to 'Back', testpages_path %>
